@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

html {height: 100%;}
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
    background: rgb(19 19 19);
	height: 100%;
	min-height: 100%;
	margin: 0;
    font-family: 'Maven Pro', sans-serif;
    color: #999999;
}

.bottombuttons {
    padding: 5px;
    left:5px;
    bottom:5px;
    position: fixed;
}